.sidemenu {
    width: 100% !important;
}

.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-user {
    display: flex;
    align-items: center;
}

.msg-user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}