.logo {
    height: 50px;
    width: auto;
}

/* user logged in label */
.label {
    background: none !important;
    color: black !important;
}

/* login form */
.login-form {
    display: flex;
    align-items: center;
}


.form-field{
    position: relative;
    margin-left: 5px !important;
}

.ui.basic.label {
    position: absolute;
    top: 90%;
    right: 0%;
    width: 100%;
    border-color: red !important;
    color: red!important;
    background-color: white !important;
    background-color: white;
}